
@{
    ViewBag.Title = "Déroulement";
}

<h2>En cours de construction</h2>

<p>L'adresse de la mairie de toulouse : Place Du Capitole, 31100 Toulouse</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sfr!2sfr!4v1467151735613!6m8!1m7!1sPlAKIwW0WIMqG8I-H4Oy1A!2m2!1d43.60447215261446!2d1.442951121684751!3f93.64281802334389!4f3.701823026108329!5f1.1924812503605782" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<br /><br />
<p>L'itinéraire pour aller à la salle de réception</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d185305.84120333128!2d1.263780135967151!3d43.47304340335872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x12aec795aa712b23%3A0x53b447240d8e2344!2sPlace+Du+Capitole%2C+31000+Toulouse!3m2!1d43.604365699999995!2d1.4433413!4m5!1s0x12aecc76e20abf9f%3A0x6da92a8d6949e56c!2sMairie%2C+1+Place+de+la+Mairie%2C+31410+Lavernose-Lacasse!3m2!1d43.3961943!2d1.2615303!5e0!3m2!1sfr!2sfr!4v1467151885572" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<br /><br />
<p>L'adresse de la salle de réception est : 1 Place de la Mairie, 31410 Lavernose-Lacasse</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sfr!2sfr!4v1467151511359!6m8!1m7!1sIs4oK3TJ6bmbfaDYKxP64A!2m2!1d43.3963960097994!2d1.261733747956574!3f170.2764395152221!4f-11.14609695672307!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
