
@{
    ViewBag.Title = "Déroulement";
}

<h1>Samedi 06 Août 2016</h1>

<!-- et bim un tableau bien dégueulasse pour faire du css <3 -->
<p>Nous vous conseillons pendant votre lecture une petite musique de détente (un conseil, si vous avez du goût prenez la musique d'Amandine)</p>
<p>Baissez le son car ça va être un peu fort sinon ;)</p>
<table style="border:hidden" class="table">
    <tr style="border:hidden">
        <td>Musique conseillée par Amandine</td>
        <td>Musique conseillée par Mickaël</td>
    </tr>
    <tr>
        <td>
            <audio controls>
                <source src="~/Music/The Arena - Lindsey Stirling.mp3" type="audio/mpeg">
                <p>Désolé votre navigateur ne supporte pas ces musiques.</p>
            </audio>
        </td>
        <td>
            <audio controls>
                <source src="~/Music/Pokemon Red-Blue-Yellow - Route 1 Acapella.mp3" type="audio/mpeg">
                <p>Désolé votre navigateur ne supporte pas ces musiques.</p>
            </audio>
        </td>
    </tr>
</table>


<h3>Les Haut-Garonnais (ceux qui habitent autour de Toulouse quoi :3)</h3>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images/capitoleBis.jpg" alt="...">
            <div class="caption">
                <h3>Place du Capitole à Toulouse</h3>
                <p><b>15h15 dernier délai /!\ :</b></p>
                <p>Rendez-vous directement à la place du capitole  </p>
                <p><b>Adresse :</b> </p>
                <p>Place Du Capitole, 31100 Toulouse</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images/salle des illustres.jpg" alt="...">
            <div class="caption">
                <h3>Mairie Toulouse</h3>
                <p><b>15h45 :</b></p>
                <p>La cérémonie débutera pour une durée top chrono de 7 minutes (ça laisse rêveur, hein Jissay !) dans la salle des illustres</p>
                <p><b>Adresse :</b> </p>
                <p>Place Du Capitole, 31100 Toulouse</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images/salle de reception.jpg" alt="...">
            <div class="caption">
                <h3>Salle de réception à Lavernose-Lacasse</h3>
                <p><b>Dans les environs de 16h30 :</b></p>
                <p>Direction ensuite la salle de réception à Lavernose-Lacasse pour commencer le vin d'honneur et les photos</p>
                <p>On va faire pêter le jus d'abricot !</p>
                <p><b>Adresse :</b> </p>
                <p>1 Place de la Mairie, 31410 Lavernose-Lacasse</p>
            </div>
        </div>
    </div>
</div>

<h3>Les envahisseurs (ceux qui n'habitent pas vers Toulouse, on reste logique t'inquiète :D)</h3>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images/hotel F1.jpg" alt="...">
            <div class="caption">
                <h3>Hôtel F1 de muret</h3>
                <p><b>Avant 14h :</b></p>
                <p>Rendez-vous directement à l'hôtel pour récupérer la clé de la chambre et y déposer vos affaires.</p>
                <p>Le marié sera à votre service pour conduire le cortège vers le parking du capitole parce que ce monsieur a trop la classe et puis c'est tout</p>
                <p><b>Adresse :</b> </p>
                <p>1 rue des Périoles, 31120 Roques SUR Garonne</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images/capitoleBis.jpg" alt="...">
            <div class="caption">
                <h3>Place du Capitole à Toulouse</h3>
                <p><b>15h15 dernier délai /!\ :</b></p>
                <p>Direction la place du capitole où l'on devra attendre sagement que les autres mariés, qui pour le coup seront vachement moins classes que nous, aient terminé leur passage à <s>la chaîne</s> la mairie</p>
                <p><b>Adresse :</b> </p>
                <p>Place Du Capitole, 31100 Toulouse</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images/salle des illustres.jpg" alt="...">
            <div class="caption">
                <h3>Mairie Toulouse</h3>
                <p><b>15h45 :</b></p>
                <p>La cérémonie débutera pour une durée top chrono de 7 minutes (emballé c'est pesé, pas le temps de niaiser) dans la salle des illustres</p>
                <p><b>Adresse :</b> </p>
                <p>Place Du Capitole, 31100 Toulouse</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images/salle de reception.jpg" alt="...">
            <div class="caption">
                <h3>Salle de réception à Lavernose-Lacasse</h3>
                <p><b>Dans les environs de 16h30 :</b></p>
                <p>Direction ensuite la salle de réception à Lavernose-Lacasse pour commencer le vin d'honneur et les photos</p>
                <p>On va faire pêter le jus d'abricot, les bits, les oreilles (il y aura peut être des gens qui vont chanter ou faire écouter des chansons du 6/9, je suis désolé) et les pieds à cause de danses frénétiques !</p>
                <p><b>Adresse :</b> </p>
                <p>1 Place de la Mairie, 31410 Lavernose-Lacasse</p>
            </div>
        </div>
    </div>

</div>


<h1>Dimanche 07 Août 2016</h1>

<h3>Les survivants</h3>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images/pikachu.gif" alt="...">
            <div class="caption">
                <h3>Repos du Guerrier</h3>
                <p><b>12h00 :</b></p>
                <p>Après une nuit de folie sur la piste de danse, un petit peu de détente devant un brunch des familles</p>
                <p><b>Adresse :</b> </p>
                <p>1 Place de la Mairie, 31410 Lavernose-Lacasse</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images/nettoyage.gif" alt="...">
            <div class="caption">
                <h3>Nettoyage de la salle</h3>
                <p><b>16h00 :</b></p>
                <p>Et pour les plus courageux et téméraires, vous pourrez toujours venir nous aider à nettoyer et ranger la salle</p>
                <p><b>Adresse :</b> </p>
                <p>1 Place de la Mairie, 31410 Lavernose-Lacasse</p>
            </div>
        </div>
    </div>
</div>
