@{
    ViewBag.Title = "Accueil";
}


<div class="jumbotron">
    <!-- ouais je sais c'est moche, merci de fermer les yeux là dessus ;) -->
    <br/>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="well well-lg">
    <h1>Bienvenue sur le site du mariage 2016 d'Amandine et Mickaël</h1>
    <p class="lead">
        Vous pourrez directement répondre au faire-part via ce site web ainsi que voir différentes informations sur cet heureux évènement. Le site sera mise à jour au fur et à mesure et vous pourrez y retrouver un résumé sur l'organisation
        de ce week-end. Bonne navigation !
    </p>
    <p><a href="../reponse" class="btn btn-primary btn-lg">Réponse au faire-part &raquo;</a></p>
</div>

<div hidden class="row">
    <h2>Galerie d'images</h2>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
    </div>

    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
        </a>
    </div>

    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
    </div>

    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
    </div>
</div>
