
@{
    ViewBag.Title = "Hôtel";
}

<h2>L'hébergement</h2>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="~/images/hotel F1.jpg" alt="...">
            <div class="caption">
                <h3>Hôtel F1 de muret</h3>
                <p><b>Offert pour la nuit du Samedi 06 Août 2016</b></p>
                <p>Les mariés offre à l'occasion de leur mariage la nuit du samedi 06 août 2016 à l'hôtel formule 1 de Muret situé à 15 minutes en voiture du lieu de la réception.</p>
                <p>Une pré-réservation a été effectuée du Vendredi 05 Août 2016 au Dimanche 07 Août 2016  inclus pour permettre à ceux voulant venir plus tôt d'avoir la possibilité de réserver dans cette période sans souci.</p>
                <p>Il faudra par contre impérativement nous indiquer avant le 01 Août 2016 si vous comptez juste prendre la soirée du samedi soir ou plus.</p>
                <p><b>Adresse :</b> </p>
                <p>1 rue des Périoles, 31120 Roques SUR Garonne</p>
            </div>
        </div>
    </div>
</div>

   



