
@{
    ViewBag.Title = "Hôtel";
}

<h2>L'hébergement</h2>

<p>Les mariés offre à l'occasion de leur mariage la nuit du samedi 06 août 2016 à l'hôtel formule 1 de Muret situé à 15 minutes en voiture du lieu de la réception.</p>
<p>Une pré-réservation a été effectuée du Jeudi 04 Août 2016 au Dimanche 07 Août 2016 pour permettre à ceux voulant venir plus tôt d'avoir la possibilité de réserver dans cette période sans souci.</p>
<p>Il faudra par contre impérativement nous indiquer avant le 01 Août 2016 si vous comptez juste prendre la soirée du samedi soir ou plus.</p>

<p>Vous pourrez trouver l'hôtel à cette adresse : 1, rue des Périoles, 31120 Roques SUR Garonne</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sfr!2sfr!4v1467150663378!6m8!1m7!1sTX-mV_Nwv4chJw29IXYq8A!2m2!1d43.49106948175393!2d1.343801582323462!3f54.10011980757159!4f-13.116536556452289!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>



